.bpmnSymbolCategory {}
.bpmn-events td {width:10%; text-align:center;}
.bpmn-events td.eventName {text-align:right; vertical-align:middle;}
.bpmnContainer {position:relative;}
.bpmn-events div.bpmnContainer {margin:auto; width:40px; position:relative; }

