/* SMALL DESKTOP - 992px and up */
@media(min-width: 992px) {
  .stage {
    height: 696px;
  }

  .carousel-image {
    height: 366px;
  }


  /* Widen the fixed sidebar */
  .docs-sidebar.affix,
  .docs-sidebar.affix-bottom {
    width: 213px;
  }
  .docs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 100px;
  }
  .docs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .docs-sidebar.affix-bottom .docs-sidenav,
  .docs-sidebar.affix .docs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
  .docs-sidebar.affix .docs-sidenav.search {
    margin-bottom: 5px;
  }

  .row-top {
    padding-top: 30px;
  }

  div.active .marker {
    height: 20px;
    width: 22px;
    margin-top: -6px;
    margin-left: 35px;
    position: absolute;
    background: url(../img/marker.png);
    z-index: 1;
  }

  #vision p > div.popover {
      max-width: 500px !important;
  }

  .community-menu .col-md-4 {
    margin-bottom: 0;
  }

  .carousel-control {
    position: absolute;
    top: 200px;
    left: 10%;
    width: 45px;
    height: 45px;
    margin-top: 0;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 3px solid rgba(0,0,0,0.0001);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    opacity: 0.25;
    filter: alpha(opacity=25);
  }

  .carousel-control.right {
    left: 85%;
  }

  .carousel-paragraph {
    margin: 0;
  }

  .quick-links {
    text-align: center;
    list-style: none;
    margin-top: 14px;
    display: block;
    visibility: visible;
  }

  .quick-links .fa {
    color: #999;
  }

  .quick-links a.google-follow:hover > .fa {
    color: #D84834;
  }

  .quick-links a.twitter-follow:hover > .fa {
    color: #00ACED;
  }

  .quick-links a.github:hover > .fa {
    color: #4183C4;
  }

  .quick-links a.stackoverflow:hover > .fa {
    color: #FD8D0B;
  }

  .quick-links a.youtube:hover > .fa {
    color: #BE110A;
  }

  .quick-links > li {
    display: inline-block;
    vertical-align: top;
    margin: 0 2px;
  }
}