/* TABLETS - 768px and up */
@media (min-width: 768px) {

  .fork-me-ribbon {
    position: fixed;
    top: 40px;
    right: 0;
    border: 0;
    display: inline;
    visibility: visible;
  }

  .stage {
    height: 600px;
  }

  .navbar-header {
    float: none;
  }

  .navbar .nav > li:hover > ul {
    display: inline-block;
    visibility: visible;
    overflow: inherit;
    height: auto;
  }

  /* needed to show caret on dropdown-menu */
  .navbar .nav > li > .dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 25px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(204, 204, 204, 0.2);
    border-left: 7px solid transparent;
    content: '';
  }

  /* needed to show caret on dropdown-menu */
  .navbar .nav > li > .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 26px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
  }

  footer {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}