---

title: 'Jobs'
layout: 'dark'

---

<section class="row row-top">
  <div class="col-xs-12 col-sm-12 col-md-12 center jobs-background">
    <h1>Open Source From Berlin</h1>
  </div>
</section>

<section class="row">
  <div class="col-md-9">
    <div class="placeholder"></div>
  </div>
</section>

<section class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 center">
    <h3>We are looking for you - come join our <a href="<%= @docUrl('community/team.html') %>">team</a>!</h3>
  </div>
</section>

<section class="row">
  <div class="col-md-9">
    <div class="placeholder"></div>
  </div>
</section>

<section class="row">
  <div class="col-md-offset-2 col-xs-12 col-sm-5 col-md-4 well center">
    <h3>Web Developers</h3>
    <p class="subHeadLine">Build great UI<br />beyond users expectations</p>
    <a href="<%= @docUrl('community/jobs/web-developer.html') %>" class="btn btn-default ">Find out more</a>
  </div>
  <div class="col-sm-offset-1 col-md-offset-1 col-xs-12 col-sm-5 col-md-4 well center">
    <h3>Java Developers</h3>
    <p class="subHeadLine">Write challenging Java code<br />all day long</p>
    <a href="<%= @docUrl('community/jobs/java-developer.html') %>" class="btn btn-default ">Find out more</a>
  </div>
</section>

<section class="row">
  <div class="col-md-offset-2 col-xs-12 col-sm-5 col-md-4 well center">
    <h3>Consultants</h3>
    <p class="subHeadLine">Be close to the customers<br />and help them with camunda BPM</p>
    <a href="<%= @docUrl('community/jobs/technical-consultant.html') %>" class="btn btn-default ">Find out more</a>
    <!--a href="<%= @docUrl('community/jobs/business-consultant.html') %>" class="btn btn-default btn-primary">Business</a -->
  </div>
  <div class="col-sm-offset-1 col-md-offset-1 col-xs-12 col-sm-5 col-md-4 well center">
    <h3>Students</h3>
    <p class="subHeadLine">No limits, we offer lots of <br />challenging work to students in our project</p>
    <a href="<%= @docUrl('community/jobs/student.html') %>" class="btn btn-default ">Find out more</a>
  </div>
</section>

<section class="row">
  <div class="col-md-12 center">
    <h3>What We Favor @camunda</h3>
  </div>
</section>

<section class="row">
  <div class="col-md-12">
    <h3>Open Source</h3>
    <p>
      What we build is open source. We are using many other open source frameworks to build our product.
      It is in our belief and interest to contribute back to these projects whenever possible.
    </p>
  </div>
</section>

<section class="row">
  <div class="col-md-12">
    <h3>Quality</h3>
    <p>
      We believe in high quality software. That’s why we favor clean code: unit tested, peer reviewed, acceptance
      tested and documented. Our QA and build infrastructure is crucial to our success.
    </p>
  </div>
</section>

<section class="row">
  <div class="col-md-12">
    <h3>Innovation</h3>
    <p>
      We believe in the necessity for ongoing innovation. Most of the innovation at camunda comes from our own people.
      Slacktime and Ship-It days support innovation at camunda. Our community is another great source of inspiration.
    </p>
  </div>
</section>

<section class="row">
  <div class="col-md-12">
    <h3>Customer Focus</h3>
    <p>
      We believe that our users know what they need most. As with any other great product, many people have lots of
      ideas as to what should be done next. Some are great, some are inspiring, some are... 
    </p>
  </div>
</section>

<section class="row">
  <div class="col-md-12">
    <h3>Fun</h3>
    <p>
      Sometimes, new features, green jenkins and fixed bugs are not enough ;) Then we take a beer from our fridge and
      enjoy it on our comfy couch. We enjoy table soccer and Wii too. Maybe you will even see us laugh…
    </p>
  </div>
</section>

<section class="row">
  <div class="col-md-9">
    <div class="placeholder"></div>
  </div>
</section>