---

title: 'Jobs'
layout: 'dark'

---

<section class="row row-top">
  <div class="span12 center jobs-background">
    <h1>Open Source From Berlin</h1>
  </div>
</section>

<section class="row">
  <div class="span9">
    <div class="placeholder"></div>
  </div>
</section>

<section class="row">
  <div class="span12 center">
    <h3>We are looking for you - come join our <a href="<%= @docUrl('community/team.html') %>">team</a>!</h3>
  </div>
</section>

<section class="row">
  <div class="span9">
    <div class="placeholder"></div>
  </div>
</section>

<section class="row">
  <div class=" offset2 span4 well center">
    <h3>Web Developers</h3>
    <p class="subHeadLine">Build great UI<br />beyond users expectations</p>
    <a href="<%= @docUrl('community/jobs/web-developer.html') %>" class="btn btn-medium btn-primary">Find out more</a>
  </div>
  <div class="span4 well center">
    <h3>Java Developers</h3>
    <p class="subHeadLine">Write awesome java code<br />all day long</p>
    <a href="<%= @docUrl('community/jobs/java-developer.html') %>" class="btn btn-medium btn-primary">Find out more</a>
  </div>
</section>

<section class="row">
  <div class="offset2 span4 well center">
    <h3>Consultants</h3>
    <p class="subHeadLine">Be close to the customer<br />and help him with camunda BPM</p>
    <a href="<%= @docUrl('community/jobs/technical-consultant.html') %>" class="btn btn-medium btn-primary">Find out more</a>
    <!--a href="<%= @docUrl('community/jobs/business-consultant.html') %>" class="btn btn-medium btn-primary">Business</a -->
  </div>
  <div class="span4 well center">
    <h3>Students</h3>
    <p class="subHeadLine">No limits, we offer lots of <br />challanging work to students</p>
    <a href="<%= @docUrl('community/jobs/student.html') %>" class="btn btn-medium btn-primary">Find out more</a>
  </div>
</section>

<section class="row">
  <div class="span9">
    <div class="placeholder"></div>
  </div>
</section>

<section class="row">
  <div class="span12">
    <h3>Open Source</h3>
    <p>
      What we build is open source. </br>Additionally we are using many other open source frameworks to build our product.
      It is in our belief and interest to contribute back to these projects whenever possible.
    </p>
  </div>
</section>

<section class="row">
  <div class="span12">
    <h3>Quality</h3>
    <p>
      We believe in high quality software. That’s why we favor clean code: unit tested, peer reviewed, acceptance
      tested and documented. Our QA and build infrastructure is crucial to our success.
    </p>
  </div>
</section>

<section class="row">
  <div class="span12">
    <h3>Innovation</h3>
    <p>
      We believe in the necessity for ongoing innovation. Most of the innovation at camunda comes from our own people.
      Slacktime and Ship-It days support innovation at camunda. Our community is another great
      source of inspiration.
    </p>
  </div>
</section>

<section class="row">
  <div class="span12">
    <h3>Customer Focus</h3>
    <p>
      We believe that our users know what they need most. As with any other great product, many people have lots of
      ideas as to what should be done next. Some are great, some are inspiring, some are... It's the product owner's
      job to consolidate these ideas into our backlog.
    </p>
  </div>
</section>

<section class="row">
  <div class="span12">
    <h3>Fun</h3>
    <p>
      Sometimes, new features, green jenkins and fixed bugs are not enough ;) Then we take a beer from our fridge and
      enjoy it on our comfy couch. We enjoy table soccer and Wii too. Maybe you will even see us laugh…
    </p>
  </div>
</section>

<section class="row">
  <div class="span9">
    <div class="placeholder"></div>
  </div>
</section>